.card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;

    border: 1px solid #F5F5F5;
    border-radius: 10px;
}

.imageContainer {
    padding: 15px;
    text-align: center;
    background-color: #E5F4FF;
    border-radius: 5px;
}

.textContent {
    flex: 1 1 auto;
}

.underImageContent {
    display: flex;
    justify-content: space-between;
}

.shortInfo {
    display: flex;
    gap: 5px;

}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
