.main {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px 10px;
    justify-content: center;

    margin-top: 10px;
    padding: 10px;
}

.biglikeExample {
    text-align: center;
}

