:root {
  --primary-bg: #FFF;
  --primary-color: #2C2C2C;
  --secondary-color: #6E6E6E;
  --darker-grey: #4B4B4B;
  --like-color: #303030;
  --form-primary-color: #282828;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

